# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
output/logs/

# Package build artifacts
*.egg
*.egg-info/
dist/
build/
*.so

# Output files and data directories
output/results/
data/previews/
*.log

# IDE and Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db